<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="jogo.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{jogo.nome}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i> {{jogo.nota}}</span>
      <span class="place-info-box-detail">{{jogo.categoria}}</span>
      <span class="place-info-box-detail">{{jogo.tempodejogo}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>
